.form-container {
    height: 100%;
    width: 60%;
}

.form-container-header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-header-text {
    font-family: 'Marck Script', cursive;
    font-size: 45px;
    text-shadow: #FC0 0 0 5px;
    margin-left: 20px;
}

.form-fields-container {
    height: 100%;
    width: 100%;
}